@charset "UTF-8";
/*переменные созданные преподавателем*/
/*стандартный монитор*/
/*планшет*/
/*телефон*/
/*меньшый размер стандартный монитор*/
/*переменные созданные мной*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.contayner {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .contayner {
    width: 96%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-img {
  margin: 11px auto 42px auto;
}

.advantages {
  background-color: #222222;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 103px 0;
}

.advantages__title {
  margin-top: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #F8F8F8;
}

.advantages__text {
  margin-top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F8F8F8;
}

.brand {
  max-width: 1600px;
  margin: 0 auto 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 375px;
}

.brand-activ {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.brand__title-contayner {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .brand__title-contayner {
    padding: 0;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .brand__title {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

.brand__sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1600px) {
  .brand__sub-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .brand__sub-title {
    font-size: 20px;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand__img {
    display: none;
  }
}

.bread-crumbs {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F3F4;
}

.bread-crumbs__contayner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bread-crumbs__position {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.bread-crumbs__crumbs {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin: auto 0;
}

.bread-crumbs__topical-crumbs {
  color: #F16D7F;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
  z-index: 1;
  padding: 0 0 0 34px;
  width: 232px;
  height: 765px;
  background-color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
}

.header__button-close-menu {
  margin: 17px 17px 0 auto;
}

.header__title {
  margin: 9px 0 4px 0;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.header__sub-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.header__sub-navigation-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header__navigation-item {
  margin-top: 20px;
}

.header__sub-navigation-list {
  margin-left: 21px;
}

.header__sub-navigation-item {
  margin: 11px 0;
}

.header__contayner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header .nav-icon {
  fill: #E8E8E8;
}

.header__link:hover .nav-icon,
.header__link:focus .nav-icon,
.header__button:hover .nav-icon,
.header__button:focus .nav-icon {
  fill: #F26376;
}

.header__link {
  margin: 0 33px 0 0;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 128px;
}

.products__top-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.products__top-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.products__item {
  width: 360px;
}

.products__description {
  background-color: #F8F8F8;
  padding: 25px 29px 20px 17px;
}

.products__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 420px;
  background-color: #f2eeee;
}

.products__img {
  display: block;
  position: absolute;
  z-index: 1;
}

.products__title {
  margin-bottom: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.products__text {
  margin-bottom: 18px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-align: left;
}

.products__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__button {
  display: none;
  z-index: 2;
  padding: 8px 13px;
  border-radius: 0px;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
}

.products__nav-icon {
  fill: #FFF;
}

.products__button-text {
  margin-left: 11px;
}

.products__button-all-products {
  display: block;
  margin: 48px auto 90px;
  padding: 15px 39px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border-radius: 0px;
  border: 1px solid #FF6A6A;
}

.products__button-all-products:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.products__box-img:hover .products__img {
  -webkit-filter: brightness(0.3) sepia(0.3);
          filter: brightness(0.3) sepia(0.3);
}

.products__box-img:hover .products__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__filter-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__filter_category {
  min-width: 360px;
  padding: 13px 32px 16px 0px;
  margin: 51px 0 48px 0;
}

.products__filter_category:hover .products__filter-title,
.products__filter_others:hover .products__other-title,
.products__filter_size:hover .products__other-title,
.products__filter_category:hover .products__icon-filter,
.products__filter_others:hover .products__icon-filter,
.products__filter_size:hover .products__icon-filter {
  color: #EF5B70;
  fill: #EF5B70;
}

.products__filter_category:hover .products__filter-list {
  display: block;
}

.products__filter_size {
  padding: 13px 0 16px 0px;
  margin: 51px 16px 48px 0;
}

.products__size-item {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.products__size-item:hover {
  color: #EF5B70;
}

.products__checkbox {
  margin: 0;
  height: 12px;
  width: 12px;
}

.products__filter_size:hover .products__other-list {
  display: block;
}

.products__filter_others {
  padding: 13px 0 16px 0px;
  margin: 51px 16px 48px 0;
}

.products__filter_others:hover .products__other-list {
  display: block;
}

.products__filter-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.products__other-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.products__icon-filter {
  margin-left: 11px;
  fill: #000000;
}

.products__filter-variant {
  display: block;
  margin: 24px 0px;
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EAEAEA;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #6F6E6E;
}

.products__filter-sub-list {
  padding-left: 16px;
  margin-top: 11px;
}

.products__filter-list {
  display: none;
  margin-top: -30px;
  margin-left: -1px;
  padding: 13px 16px 16px 17px;
  background-color: #FFF;
  position: absolute;
  z-index: 2;
  min-width: 360px;
  -webkit-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.2);
}

.products__other-list {
  display: none;
  margin-top: 5px;
  margin-left: -1px;
  padding: 13px 16px 16px 17px;
  background-color: #FFF;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.products__filter-button {
  display: block;
  padding-left: 16px;
  background-color: #FFF;
  border: 0px solid #FFF;
}

.products__filter-sub-variant {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.products__number-page {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /*color: #EF5B70;*/
}

.products__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -51px auto 97px auto;
}

.products__pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #EAEAEA;
}

.products__number-page {
  margin: 5px 10px;
}

.products__number-page_link {
  color: #EAEAEA;
}

.products__full-description {
  border: 1px solid #EAEAEA;
  max-width: 1140px;
  padding: 64px 292px;
  text-align: center;
  margin-bottom: 129px;
}

.products__title-collection {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
}

.products__hr-small-pink {
  margin: 12px auto;
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  border: 0px solid #EF5B70;
}

.products__card {
  margin-top: -65px;
  z-index: 2;
  background-color: #FFF;
}

.products__title-card {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.products__text-card {
  margin-top: 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5D5D5D;
}

.products__price-card {
  margin-top: 32px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.products__price-card::before {
  content: '$';
}

.products__hr {
  background-color: #EAEAEA;
  height: 1px;
  border: 0px solid #EAEAEA;
  width: auto;
  margin-top: 65px;
}

.products__button-card {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  background-color: #FFF;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 56px;
}

.products__card-icon {
  fill: #F26376;
}

.promotions__list {
  margin: 0 0 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .promotions__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.promotions__item {
  width: 360px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1600px) {
  .promotions__item {
    width: 32%;
    min-height: 167px;
  }
}

@media (max-width: 375px) {
  .promotions__item {
    width: 95%;
    min-height: 260px;
  }
}

.promotions__item_women {
  background-image: url(./../img/promotions_1.png);
}

.promotions__item_men {
  background-image: url(./../img/promotions_2.png);
}

.promotions__item_kids {
  background-image: url(./../img/promotions_3.png);
}

.promotions__item-big {
  width: 100%;
  min-height: 180px;
  background-image: url(./../img/promotions_4.png);
}

@media (max-width: 768px) {
  .promotions__item-big {
    width: 100%;
    min-height: 116px;
  }
}

@media (max-width: 375px) {
  .promotions__item-big {
    width: 95%;
    min-height: 180px;
  }
}

.promotions__title {
  font-family: Lato;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.promotions__text {
  margin-top: 8px;
  font-family: Lato;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.references {
  padding: 24px 0px;
  background-color: #222222;
}

.references__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.references__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.references__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.references__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.references__link {
  background-color: #FFF;
  margin: 2px;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.references__link:hover, .references__link:focus {
  background-color: #F26376;
}

.references__link:hover .footer-icon,
.references__link:focus .footer-icon {
  fill: #FFF;
}

.registration__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__item-registration {
  /*колонка регистрации*/
  max-width: 360px;
}

.registration__block {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__jender-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.registration__registration-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__string {
  padding: 14px 0px 14px 14px;
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border-radius: 0px;
  border: 1px solid #A4A4A4;
}

.registration__text {
  margin-top: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration__button {
  display: block;
  margin: 40px auto 96px;
  padding: 15px 39px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #F16D7F;
  color: #FFF;
  border-radius: 0px;
  border: 1px solid #FF6A6A;
}

.registration__button-tick {
  margin-left: 20px;
  fill: #FFF;
}

.registration__item-info {
  max-width: 650px;
}

.registration__info {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__subitem {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__subitem:before {
  margin-right: 23px;
  content: url("./img/tick.svg");
}

.registration__info-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.registration__info {
  margin-top: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__sublist {
  margin-top: 21px;
}

.registration__subitem {
  margin-top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.shopping-cart {
  margin-top: 96px;
}

.shopping-cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 20px 20px 30px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 30px 2px rgba(0, 0, 0, 0.2);
}

.shopping-cart__products-info {
  width: 260px;
  padding: 22px 0 0 31px;
}

.shopping-cart__list {
  margin-bottom: 72px;
  min-width: 660px;
}

.shopping-cart__products-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.shopping-cart__products-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping-cart__products-text-pink {
  margin-left: 6px;
  color: #F26376;
}

.shopping-cart__products-text-pink:before {
  content: '$';
}

.shopping-cart__products-text-grey {
  margin-left: 6px;
  color: #6F6E6E;
}

.shopping-cart__products-text-in-box {
  margin-left: 24px;
  padding: 0 17px;
  border: 1px solid #EAEAEA;
}

.shopping-cart__products-delete {
  padding: 22px 22px 0 0;
}

.shopping-cart__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  padding: 15px 39px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.shopping-cart__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.shopping-cart__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-cart__string {
  width: 360px;
  padding: 14px 0px 14px 14px;
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border-radius: 0px;
  border: 1px solid #A4A4A4;
}

.shopping-cart__string + .shopping-cart__button {
  margin-top: 24px;
}

.shopping-cart__block-account {
  margin-top: 58px;
  padding: 39px 34px 0;
  background-color: #F5F3F3;
}

.shopping-cart__block-sub-total {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
}

.shopping-cart__block-sub-total-grey {
  margin-left: 20px;
  color: #6F6E6E;
}

.shopping-cart__block-sub-total-grey:before {
  content: '$';
}

.shopping-cart__block-grand-total {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  margin-top: 12px;
}

.shopping-cart__block-grand-total-pink {
  margin-left: 20px;
  font-weight: 700;
  color: #F26376;
}

.shopping-cart__block-grand-total-pink:before {
  content: '$';
}

.shopping-cart__hr {
  margin-top: 21px;
}

.shopping-cart__button-in-block {
  margin: 17px auto 42px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  border: 0px solid #F16D7F;
  background-color: #F16D7F;
  text-transform: uppercase;
  padding: 15px 39px;
}

.subscription {
  background-image: url(./../img/back-ground-photo.png);
  background-size: cover;
  margin: auto;
  height: 448px;
}

.subscription__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 87px;
}

.subscription__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.subscription__title {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
}

.subscription__sub-title {
  display: block;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.subscription__email-box {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E1E1E1;
  border-radius: 25px;
}

.subscription__email {
  width: 220px;
  padding: 17px 0 17px 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(#222222);
  opacity: 0.67;
  background-color: #E1E1E1;
  border: 0;
  border-radius: 25px 0px 0px 25px;
}

.subscription__button {
  padding: 0 22px;
  height: 100%;
  border: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F16D7F;
  color: #FFF;
  border-radius: 0px 25px 25px 0px;
}
/*# sourceMappingURL=style.css.map */