/*переменные созданные преподавателем*/
$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$gray-color: #F8F8F8;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;

/*переменные созданные мной*/
$button-pink: #F26376;
$text-silver: #9F9F9F;
$products-title: #000000;
$products-text: #5D5D5D;
$white-white: #FFF;
$link-in-menu: #6F6E6E;
$not-activ-nav-icon: #E8E8E8;
$background-behind-image-products: #f2eeee;
$pink-for-button:#FF6A6A;
$background-email-box: #E1E1E1;
$hidden-text: #FBFBFB;
$background-bread-crumbs: #F8F3F4;
$border-field-for-filling: #A4A4A4;
$registration-text: #b1b1b1;
$sub-text-total: #4A4A4A;
$products-text-card: #575757;
$block-account: #F5F3F3;
$quantity-box: #EAEAEA;