:root {
    --black-color: #222222;
    --pink-color: #F1E4E6;
    --dark-pink-color: #F16D7F;
    --gray-color: #F8F8F8;
    
    
    --button-pink: #F26376;
    --text-silver: #9F9F9F;
    --product-title: #000000;
    --product-text: #5D5D5D;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.contayner {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--black-color);
    position: relative;
}

.header__navigation {
    display: none;
    z-index: 1;
    padding: 0 0 0 34px;
    width: 232px;
    height: 765px;
    background-color: #FFFFFF;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.header__button-close-menu{
    margin: 17px 17px 0 auto;
}

.header__title{
    margin: 9px 0 4px 0;
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--product-title);
}

.header__sub-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-pink-color);
    text-transform: uppercase;
}

.header__sub-navigation-link{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.header__navigation-item{
    margin-top: 20px;
}

.header__sub-navigation-list{
    margin-left: 21px;
}
.header__sub-navigation-item{
    margin: 11px 0;
}

.header__contayner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background: transparent;
    border: none;
    margin: 0 33px 0 0;
}

.nav-icon{
    fill: #E8E8E8;
}

.header__link:hover .nav-icon,
.header__link:focus .nav-icon,
.header__button:hover .nav-icon,
.header__button:focus .nav-icon {
    fill: var(--button-pink);
}

.header__link {
    margin: 0 33px 0 0;
}

.brand {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    margin: 0 0 63px;
}

.brand-activ {
    filter: brightness(40%);
}

.brand__title-contayner {
    background: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    /* width: 377px; */
    text-transform: uppercase;
}

.brand__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--dark-pink-color);
}

.promotions__list {
    margin: 0 0 63px;
}

.promotions__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    position: relative;
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}

.promotions__item-big{
    width: 1140px;
}
  
.promotions__img {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    filter: brightness(0.6);
    background-size: cover;
}
  
.promotions__box{
    position: absolute;
    z-index: 2;
}
  
.promotions__title{
    font-family: Lato;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}
  
.promotions__text{
    margin-top: 8px;
    font-family: Lato;
    color: var(--dark-pink-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
        color: var(--black-color);
}
.products__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--text-silver);
    margin-bottom: 48px;
}

.products__item {
    width: 360px;
}

.product__description {
    background: var(--gray-color);
    padding: 25px 29px 20px 17px;
}

/*Надо было как то разместить изображение 2-го товара в блоке посередине*/
.product__box-img{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    background-color: #f2eeee;
}
/*конец импровизации*/

.product__img {
    /*filter: brightness(0.3) sepia(0.3);*/
    display: block;
    position: absolute;
    z-index: 1;
}

.product__title{
    margin-bottom: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--product-title);
}

.product__text{
    margin-bottom: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--product-text);
}
.product__price{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: var(--gray-color);
}

.product__button{
    display: none;
    z-index: 2;    
    padding: 8px 13px;
    border-radius: 0px;
    border: 1px solid  #FFFFFF;
    background: rgba(255, 255, 255, 0);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.product__button-text{
    margin-left: 11px;
}

.product__button-all-product{
    display: block;
    margin: 48px auto 90px;
    padding: 15px 39px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--button-pink);
    border-radius: 0px;
    border: 1px solid #FF6A6A;
}

.product__button-all-product:hover{
    background-color: var(--dark-pink-color);
    color: #FFFFFF;
}

.product__box-img:hover .product__img{
    filter: brightness(0.3) sepia(0.3);
}

.product__box-img:hover .product__button{
    display: flex;
    align-items: center;
}

.advantages{
    background: var(--black-color);
}

.advantages__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item{
    flex-direction: column;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 103px 0;
}

.advantages__title{
    margin-top: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--gray-color);
}
.advantages__text{
    margin-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--gray-color);
}

.subscription{
    background-image: url(./img/back-ground-photo.png);
    background-size: cover;
    /*filter: opacity(50%);*/
    margin: auto;
    height: 448px;
}

.subscription__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscription__item{
    flex-direction: column;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 87px;
}

.subscription__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #222224;
}

.subscription__title{
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;

    color: #222224;
}

.subscription__sub-title{
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.subscription__email-box{
    width: 340px;
    display: flex;
    justify-content: space-between;
    background: #E1E1E1;
    border-radius: 25px;
}

.subscription__email{
    width: 220px;
    padding: 17px 0 17px 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border: 0;
    border-radius: 25px 0px 0px 25px;
}

.subscription__button{
    padding: 0 22px;
    height: 100%;
    border: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    background: #F16D7F;
    color: #FFFFFF;
    border-radius: 0px 25px 25px 0px;
}



.references{
    padding: 24px 0px;
    background: var(--black-color);
}

.references__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.references__item{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.references__sub-list{
    display: flex;
}

.references__text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #FBFBFB;
}

.references__link{
    background: #FFFFFF;
    margin: 2px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.references__link:hover,
.references__link:focus{
    background-color: var(--button-pink);
}

.references__link:hover .footer-icon,
.references__link:focus .footer-icon{
    fill: #FFFFFF;
}

.bread-crumbs{
    height: 148px;
    display: flex;
    align-items: center;
    background-color: #F8F3F4;
}

.bread-crumbs_position{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink-color);
    text-transform: uppercase;
}

.registration__list{
    justify-content: space-between;
    margin-top: 31px;
    display: flex;
}
.registration__item-registration{ /*колонка регистрации*/
    max-width: 360px;
}

.registration__block{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
}
.jender-block{
    flex-direction: row;
}

.registration__registration-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
}
.registration__string{
    padding: 14px 0px 14px 14px;
    margin-top: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
    border-radius: 0px;
    border: 1px solid #A4A4A4;
}
.registration__text{
    margin-top: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
}

.registration__button{
    display: block;
    margin: 40px auto 96px;
    padding: 15px 39px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--dark-pink-color);
    color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #FF6A6A;
}
.registration__button-tick{
    margin-left: 20px;
    fill: #FFFFFF;
}

.registration__item-info{
    max-width: 650px;
}

.registration__info{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-title);
}

.registration__subitem{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-title);
}

.registration__subitem:before{
    margin-right: 23px;
    content: url('./img/tick.svg');
}

.registration__info-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-title);
    text-transform: uppercase;
}

.registration__info{
    margin-top: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-title);
}

.registration__sublist{
    margin-top: 21px;
}

.registration__subitem{
    margin-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-title);
}