.advantages {
    background-color: $black-color;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $tablet-width) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 48px;
        }
    }

    &__item {
        flex-direction: column;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 103px 0;

        @media (max-width: $tablet-width) {
            margin: 48px 0;
        }
    }

    &__title {
        margin-top: 28px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $gray-color;
    }
    &__text {
        margin-top: 16px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $gray-color;
    }
}