.brand {
    max-width: 1600px;
    margin: 0 auto 63px;
    display: flex;
    min-height: 375px;

    &-activ {
        filter: brightness(40%);
    }

    &__title-contayner {
        background-color: $pink-color;
        flex-grow: 1;

        padding: 0 0 0 6%;
        display: flex;
        align-items: center;

        @media (max-width: $tablet-width) {
            padding: 0;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;

        @media (max-width: $desktop-width) {
            font-size: 44px;
        }

        @media (max-width: $tablet-width) {
            font-size: 38px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &__sub-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: block;
        
        @media (max-width: $desktop-width) {
            font-size: 24px;
        }

        @media (max-width: $tablet-width) {
            font-size: 20px;
        }
    }


    &__pink-sub-title {
        color: $dark-pink-color;
    }

    &__img {
        width: 50%;
        height: auto;

        @media (max-width: $tablet-width) {
             display: none;
        }
    } 
}