.bread-crumbs {
    height: 148px;
    display: flex;
    align-items: center;
    background-color: $background-bread-crumbs;

    &__contayner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-width) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__position{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $dark-pink-color;
        text-transform: uppercase;

        @media (max-width: $mobile-width) {
            margin-bottom: 16px;
        }
    }

    &__crumbs {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $link-in-menu;
        text-transform: uppercase;
        margin: auto 0;

        @media (max-width: $mobile-width) {
            margin-top: 16px;
        }
    }

    &__list{
        display: flex;
    }

    &__item:after {
        margin-left: 5px;
        margin-right: 5px;
        content: '/';
    }

    &__item:last-child:after {
        content: '';
    }

    &__item:last-child a {
        color: $dark-pink-color;
    }
}
