.products{

    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 128px;
    }

    &__top-title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: $black-color;
    }

    &__top-text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $text-silver;
        margin-bottom: 48px;
    }

    &__item {
        max-width: 360px;
    }

    &__description {
        background-color: $gray-color;
        padding: 25px 29px 20px 17px;
    }

    &__box-img {
        display:flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 420px;
        background-color: $background-behind-image-products;
    }

    &__img {
        display: block;
        position: absolute;
        z-index: 1;

        width: inherit;
    }

    &__title {
        margin-bottom: 12px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: $products-title;
        text-transform: uppercase;
        text-align: left;
    }

    &__text {
        margin-bottom: 18px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $products-text;
        text-align: left;
    }

    &__price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $dark-pink-color;
    }

    &__button {
        display: none;
        z-index: 2;    
        padding: 8px 13px;
        border-radius: 0px;
        border: 1px solid  $white-white;
        background-color: rgba(255, 255, 255, 0);
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $white-white;
    }

    &__nav-icon{
        fill: $white-white;
    }

    &__button-text {
        margin-left: 11px;
    }

    &__button-all-products {
        display: block;
        margin: 48px auto 90px;
        padding: 15px 39px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $button-pink;
        border-radius: 0px;
        border: 1px solid $pink-for-button;
    }

    &__button-all-products:hover {
        background-color: $dark-pink-color;
        color: $white-white;
    }

    &__box-img:hover &__img {
        filter: brightness(0.3) sepia(0.3);
    }

    &__box-img:hover &__button {
        display: flex;
        align-items: center;
    }

    &__filter {
        display: flex;
        @media (max-width: $desktop-width) {
            justify-content: space-between;
        }
    }

    &__filter-box{
        display: flex;
        
        @media (max-width: $mobile-width) {
            justify-content: right;
        }

    }

    &__filter-card {
        justify-content: center;
    }

    &__filter_category {
        min-width: 360px;
        padding: 13px 32px 16px 0px;
        margin: 51px 0 48px 0;

        .products__icon-filter{
            margin-left: 0px;
        }

        @media (max-width: $desktop-width) {
            min-width: auto;
        }

        @media (max-width: $mobile-width) {
            .products__icon-filter{
                height: 25px;
                width: 37px;
            }
        }
    }

    &__filter_category:hover &__filter-title,
    &__filter_others:hover &__other-title,
    &__filter_size:hover &__other-title,
    &__filter_category:hover &__icon-filter,
    &__filter_others:hover &__icon-filter,
    &__filter_size:hover &__icon-filter {
        color: $activ-text-filter;
        fill: $activ-text-filter;
    }

    &__filter_category:hover &__filter-list {
        display: block;
    }

    &__size-item{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $link-in-menu;
    }

    &__size-item:hover{
        color: $activ-text-filter;   
    }

    &__checkbox{
        margin: 0;
        height: 12px;
        width: 12px;
    }

    &__filter_size:hover &__other-list {
        display: block;
    }

    &__filter_others,
    &__filter_size {
        padding: 13px 0 16px 0px;
        margin: 51px 0 48px 23px;
    }

    &__filter_others:hover &__other-list {
        display: block;
    }

    &__filter-title{
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $products-title;
        text-transform: uppercase;
    }

    &__other-title{
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $link-in-menu;
        text-transform: uppercase;

        @media (max-width: $mobile-width) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__icon-filter{
        margin: auto auto auto 13px;
        fill: $products-title;

        @media (max-width: $tablet-width) {
            margin: auto auto auto 8px;
        }
    }

    &__filter-variant{
        display: block;
        margin: 24px 0px;
        padding: 11px;
        border-left: 5px solid $activ-text-filter;
        border-bottom: 1px solid $quantity-box;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $link-in-menu;
    }

    &__filter-sub-list{
        padding-left: 16px;
        margin-top: 11px;
    }

    &__filter-list{
        display: none;
        margin-top: -30px;
        margin-left: -1px;
        padding: 13px 16px 16px 17px;
        background-color: $white-white;
        position: absolute;
        z-index: 2;
        min-width: 300px;
        box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.2);
    }

    &__other-list{
        display: none;
        margin-top: 5px;
        padding: 13px 16px 16px 17px;
        background-color: $white-white;
        position: absolute;
        z-index: 2;
        box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.2);
        text-transform: uppercase;
    }

    &__filter-button{
        display: flex;
        padding-left: 16px;
        background-color: $white-white;
        border: 0px solid $white-white;

        @media (max-width: $mobile-width) {
            padding-left: 0px;

            .products__filter-title{
                display: none;
            }
        }
    }

    &__filter-sub-variant{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $link-in-menu;
    }

    &__number-page {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px; 
    }

    &__pages{
        display: flex;
        margin: -51px auto 97px auto;
    }

    &__pages-list{
        display: flex;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid $quantity-box;
    }

    &__number-page{
        margin: 5px 10px;
    }

    &__number-page_link{
        color:$quantity-box;
    }

    &__full-description{
        border: 1px solid $quantity-box;
        max-width: $smoll-desktop-width;
        padding: 64px 0;
        text-align: center;
        margin-bottom: 129px;
    }

    &__title-collection{
        max-width: 555px;
        margin: 0 auto;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $dark-pink-color;
    }

    &__hr-small-pink{
        margin: 12px auto;
        width: 63px;
        height: 3px;
        background-color: $activ-text-filter;
        border: 0px solid $activ-text-filter;
    }

    &__card{
        margin-top: -65px;
        z-index: 2;
        background-color: $white-white;

        @media (max-width: $tablet-width) {
            margin-top: 0;
        }
    }

    &__title-card{
        margin: 0 auto;
        max-width: 555px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: $sub-text-total;
    }

    &__text-card{
        max-width: 555px;
        margin: 48px auto 0 auto;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $products-text;
    }

    &__price-card{
        max-width: 555px;
        margin: 32px auto 0 auto;;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $activ-text-filter;
    }

    &__price-card::before{
        content: '$';
    }

    &__hr{
        background-color: $quantity-box;
        height: 1px;
        border: 0px solid $quantity-box;
        width: auto;
        margin-top: 65px;
    }

    &__button-card{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $button-pink;
        border: 1px solid $button-pink;
        background-color: $white-white;
        margin: 0 auto;
        align-items: center;
        display: flex;
        padding: 13px 56px;
    }

    &__card-icon{
        fill: $button-pink;
    }
}