.shopping-cart {
    margin: 0 auto 0 auto;

    &__box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 96px;
        margin-bottom: 128px;

        @media (max-width: $tablet-width) {
            justify-content: space-evenly;
            margin-top: 59px;
        }

        @media (max-width: $mobile-width) {
            margin-top: 39px;
            margin-bottom: 96px;
        }
    }

    &__block{
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        margin-bottom: 40px;
        box-shadow: 20px 20px 30px 2px rgba(0,0,0,0.2);
    }

    &__products-img{
        height: max-content;
        width: 30%;
    }

    &__products-info {
        width: auto;
        padding: 22px 0 0 31px;

        @media (max-width: $mobile-width) {
            padding: 13px 0 0 17px;
        }
    }

    &__list {
        margin-bottom: 72px;
        width: auto;
    }

    &__products-title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $black-color;
        text-transform: uppercase;

        @media (max-width: $mobile-width) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__products-text{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: $products-text-card;

        @media (max-width: $mobile-width) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__products-text-pink {
        margin-left: 6px;
        color: $button-pink;
    }

    &__products-text-pink:before {
        content: '$';
    }

    &__products-text-grey {
        margin-left: 6px;
        color: $link-in-menu;
    }

    &__products-text-in-box {
        margin-left: 24px;
        padding: 0 17px;
        border: 1px solid $quantity-box;
    }

    &__products-delete {
        padding: 22px 22px 0 0;
    }

    &__button-box {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $black-color;
        border: 1px solid $border-field-for-filling;
        text-transform: uppercase;
        padding: 15px 39px;
        width: fit-content;

        @media (max-width: $mobile-width) {
            font-size: 12px;
            line-height: 14px;
            padding: 15px 20px;
        }
    }

    &__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

        color: $black-color;
        text-transform: uppercase;
    }

    &__fieldset {
        width: 360px;
        display: flex;
        flex-direction: column;
    }

    &__string {

        padding: 14px 0px 14px 14px;
        margin-top: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $black-color;
        border-radius: 0px;
        border: 1px solid $border-field-for-filling;
    }

    &__string + &__button{
        margin-top: 24px;
    }

    &__account{
        padding: 39px 34px 0;
        background-color: $block-account;
    }

    &__block-sub-total{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: $sub-text-total;
        text-align: right;
    }

    &__block-sub-total-grey{
        margin-left: 20px;
        color: $link-in-menu;
    }

    &__block-sub-total-grey:before {
        content: '$';
    }

    &__block-grand-total {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $black-color;
        text-align: right;
        margin-top: 12px;
    }

    &__block-grand-total-pink {
        margin-left: 20px;
        font-weight: 700;
        color: $button-pink;
    }

    &__block-grand-total-pink:before {
        content: '$';
    }

    &__hr {
        height: 1px;
        background-color: $quantity-box;
        margin-top: 21px;
        width: 100%;
        border: 0px solid;
    }

    &__button-in-block {
        margin: 17px auto 42px auto;
        display: flex;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $white-white;
        border: 0px solid $dark-pink-color;
        background-color: $dark-pink-color;
        text-transform: uppercase;
        padding: 15px 39px;
    }

    &__box-checkout{
        margin-top: 58px;
        display: flex;
        flex-direction: column;
    }
}
